.bgImg {
    position: relative;
}

.bgImg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets\img\bgHero.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

.shadowText {
    text-shadow: 2px 2px 8px #000000;
}